---
import Badge from "../components/Badge.astro";
import Socialpill from "../components/Socialpill.astro";
import Githubicon from "../icons/Githubicon.astro";
import Linkedinicon from "../icons/Linkedinicon.astro";
import Gmailicon from "../icons/Gmailicon.astro";
import Layout from "../layouts/Layout.astro";
import Sectioncontainer from "../components/Sectioncontainer.astro";
import Experience from "../components/Experience.astro";
import Briefcase from "../icons/Briefcase.astro";
import Footer from "../components/Footer.astro";
import Projecticon from "../icons/Projecticon.astro";
import Projects from "../components/Projects.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
	title="Portfolio's de Goenaga"
	description="Portfolio de Luis Goenaga, desarrollador fullstack con experiencia en Python, Java, JavaScript, HTML, CSS, React, Node.js y SQL."
>
	<main class="px-4">
		<Sectioncontainer id="inicio" class="py-28 pb-14">
			<div class="flex w-full justify-center my-5">
				<img
					src="/src/assets/fotoperfil.svg"
					alt="foto-perfil"
					class="rounded-full size-28 py-2"
				/>
			</div>

			<h1
				class="text-white text-4xl font-bold flex justify-center flex-row gap-x-4 pb-10"
			>
				Saludos, soy Luis Goenaga
				<a
					href="https://www.linkedin.com/in/luisalbertogoenagapelaez"
					target="_blank"
					rel="noopener noreferrer"
					class="flex justify-center items-center"
				>
					<Badge>Disponible para trabajo</Badge>
				</a>
			</h1>
			<h2 class="text-2xl text-wrap">
				<span style="color: var(--accent-color);"
					>Soy un desarrollador fullstack</span
				>
				<span
					>con experiencia en Python, Java, JavaScript, HTML, CSS, React,
					Node.js y SQL. Estoy apasionado por aprender y crecer en el campo del
					desarrollo de software, y estoy siempre dispuesto a enfrentar nuevos
					desafíos.</span
				>
			</h2>

			<nav class="flex justify-center items-center gap-x-4 my-10">
				<Socialpill href="https://www.linkedin.com/in/luisalbertogoenagapelaez">
					<div class="flex justify-center items-center px-3 w-36">
						<Linkedinicon class="size-6 mr-2" />
						Linkedin
					</div>
				</Socialpill>
				<Socialpill href="https://github.com/lgoenaga" class="flex-1">
					<div class="flex justify-center items-center px-3 w-36">
						<Githubicon class="size-6 mr-2" />
						Github
					</div>
				</Socialpill>
				<Socialpill href="mailto: luisgoenagap@gmail.com" class="flex-1">
					<div class="flex justify-center items-center px-3 w-36">
						<Gmailicon class="size-6 mr-2" />
						Correo
					</div>
				</Socialpill>
			</nav>
		</Sectioncontainer>
		<Sectioncontainer id="experiencia" class="pb-20">
			<h2 class="text-2xl font-bold text-left pb-10 flex gap-x-2 items-center">
				<Briefcase class="size-6" />
				Experiencia
			</h2>
			<Experience />
		</Sectioncontainer>
		<Sectioncontainer id="proyectos" class="pb-20">
			<h2 class="text-2xl font-bold text-left pb-10 flex gap-x-2 items-center">
				<Projecticon class="size-6" />
				Proyectos
			</h2>
			<Projects />
		</Sectioncontainer>
		<Footer />
	</main></Layout
>
