---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1
				class="text-white text-4xl font-bold flex justify-center flex-row gap-x-4 pb-10"
			>
				<img
					src="/public/foto-perfil.png"
					alt="foto-perfil"
					class="rounded-full w-10 h-10"
				/>
				Saludos, soy Luis Goenaga
				<a
					href="https://www.linkedin.com/in/luisalbertogoenagapelaez"
					target="_blank"
					rel="noopener noreferrer"
					class="flex justify-center items-center"
				>
					<Badge>Disponible para trabajo</Badge>
				</a>
			</h1>
			<h2>
				Soy un desarrollador junior fullstack con experiencia en Python, Java,
				JavaScript, HTML, CSS, React, Node.js y SQL. Estoy apasionado por
				aprender y crecer en el campo del desarrollo de software, y estoy
				siempre dispuesto a enfrentar nuevos desafíos.
			</h2>

			<ul></ul>
		</section>
	</main>
</Layout>
