---
import Experienceitem from "./Experienceitem.astro";

const EXPERIENCIE = [
	{
		date: "Noviembre 2024",
		title: "Desarrollo de aplicaciones web con python",
		description:
			"Aprende a construir aplicaciones web con Python y Django , un marco de trabajo web minimalista.",
	},
	{
		date: "Mayo 2023",
		title: "Web development in React con Typescript",
		description: "Aprende a construir aplicaciones web con React y Typescript.",
		link: "https://reactjs.org/",
	},
	{
		date: "Junio 2022",
		title: "E-Commerce  React-NestJS",
		description:
			"Construimos una aplicación de comercio electrónico con React y NestJS.",
	},
];
---

<ol class="relative border-s border-gray-200 ml-3">
	{
		EXPERIENCIE.map((experience) => (
			<li class="mb-10 ms-4">
				<Experienceitem {...experience} />
			</li>
		))
	}
</ol>
