---
import Header from "../components/Header.astro";
// Supports weights 100-900
import "@fontsource-variable/onest";

interface Props {
	title: string;
	description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div
			class="absolute top-0 z-[-2] w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
		>
		</div>
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--primary-color: #050505de;
		--secondary-color: #ffffffb3;
		--accent-color: #f00;
		color-scheme: light dark;
	}

	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		background: var(--primary-color);
		color: var(--secondary-color);
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	@media (prefers-animate: reduce) {
		html {
			scroll-behavior: auto;
		}
	}

	@media (prefers-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}

	@media (max-width: 720px) {
		html {
			transform: scale(0.9);
			transform-origin: top center;
			height: 100vh;
			overflow-x: hidden;
		}
		body {
			overflow-x: hidden;
		}
	}

	@media (max-width: 600px) {
		html {
			transform: scale(0.8);
			transform-origin: top center;
			height: 100vh;
		}

		#header a {
			font-size: 0.9rem;
		}
	}

	@media (max-width: 570px) {
		html {
			height: 100vh;
			overflow-x: hidden;
		}

		body {
			overflow-x: hidden;
		}

		#header {
			flex-direction: row;
			gap: 0.5rem;
		}

		#header a {
			font-size: 0.7rem;
		}

		#social {
			transform: scale(0.5);
		}

		#h1index {
			font-size: larger;
		}
	}

	@media (min-width: 900px) {
		html {
			transform: scale(1);
			transform-origin: top center;
			font-size: 1rem;
		}
	}
</style>
